<% title "Редактирование направления", :theme %>

<% content_for :hint do %>
  <p>Для изменения направления, введите название и нажмите кнопку "Сохранить"</p>
  <p>Если нет необходимости изменять направление нажмите "Отмена" для возврата к списку направлений.</p>
<% end %>

<%= simple_form_for(resource, url: resource_url) do | form | %>
  <fieldset>
    <%= form.input :name %>
    <%= form.button :submit, I18n.t("save") %>
    <%= link_to I18n.t("back"), :back %>
  </fieldset>
<% end %>
