<% title "Календарный план проекта", :stage %>

<% content_for :hint do %>
  <h3>Календарный план проекта</h3>
  <p>На странице представлены этапы календарного плана реализации проекта.</p>
<% end %>

<% action_link(link_to(I18n.t("stage.new"), new_manage_chair_project_stage_path(@chair, @project)), "new", "Позволяет добавить этап") %>

<%= render_list "stage", @stages, :id => "stages" %>

