<% title "Руководители проектов", :user %>

<% content_for :hint do %>
  <h3>Руководители проектов</h3>
  <p>На странице отображается сведения о руководителях проектов на кафедре.</p>
<% end %>

<%= render_list 'chair_project_manager', @chair.project_managers, :id => 'chair-project_managers' %>

