*.swp
.ruby-version
/.bundle
/.docker-sync
docker*
/bin/*
/config/database.yml
/config/deploy.yml
/config/settings.yml
/config/users.yml
/config/initializers/postgresql_old_adapter_patch.rb
/db/*.sqlite3
/emails
/erd.pdf
/log/*.lck
/log/*.log
/public/files
/solr/data
/solr/data/development/*
/solr/pids
/system
/tmp
