*.swp
/.bundle
/config/database.yml
/config/deploy.yml
/config/settings.yml
/config/users.yml
/db/*.sqlite3
/emails
/erd.pdf
/log/*.log
/log/*.lck
/public/files
/tmp
/solr/data
/solr/pids
/solr/data/development/*
