<% title "Журнал посещаемости", :visitations %>

<% content_for :hint do %>
  <p><b>Для изменения баллов за посещаемость</b> перейдите к журналу посещаемости соответствующего проекта</p>
<% end %>

<div class="visitationlog">
  <% @chair.projects.active.each_with_index do |project, index| %>
    <div id="project_<%= project.id %>" class="project">
      <%= link_to(project.cipher, chair_project_visitations_path(project.chair, project), :class => 'chair_cipher') %>
      <%= render :partial => 'visitation_for_project', :locals => {:project => project, :show_edit_link => false} %>
    </div>
  <% end -%>
</div>

