<% title "Редактирование посещаемости", :visitation %>

<% content_for :hint do %>
  <p>Введите баллы за посещаемость в диапазоне <b>от 0 до 2</b> и нажмите кнопку "Сохранить"</p>
  <p>Если нет необходимости менять баллы, нажмите "Отмена" для возврата к журналу посещаемости.</p>
<% end %>

<%= simple_form_for chair_project_visitation_path(@project.chair, @project, @gpoday), :method => :put do | form | %>
  <fieldset class="participant_visitation">
    <%= form.association :rate %>
    <%= form.submit I18n.t("save") %>
    <%= link_to I18n.t("cancel"), chair_project_visitations_path(@project.chair, @project) %>
  </fieldset>
<% end %>

