<% title "Журнал посещаемости", :visitations %>

<% content_for :hint do %>
  <p><b>Для изменения баллов за посещаемость</b> перейдите по ссылке &laquo;Редактировать&raquo;</p>
<% end %>

<div class="visitationlog">
  <div id="project_<%= @project.id %>" class="project">
    <%= render :partial => 'visitation_for_project', :locals => {:project => @project, :show_edit_link => true} %>
  </div>
</div>

