<% title "Изменение задачи для участника #{h(@participant.name)}", :issues %>

<% content_for :hint do %>
Написать помощь
<% end %>

<% form_for([@chair, @project, @participant, @issue]) do |form| %>
  <fieldset>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <p>
      <%= form.submit l(:save) %>
      <%= link_to l(:cancel), chair_project_issues_path(@chair, @project) %>
    </p>
  </fieldset>
<% end %>

