<%# FIXME remove h wrapper %>
<% title "Изменение задачи для участника #{h(@participant.name)}", :issues %>

<% content_for :hint do %>
  <p>Чтобы изменить задачу внесите изменения в поля форму и нажмите "Сохранить".</p>
  <p>Если участник выполнил задачу, укажите фактическую дату выполнения, оценку в баллах и полученный результат.</p>
  <p>Если нет необходимости изменять задачу перейдите по ссылке "Отмена"</p>
<% end %>

<%= simple_form_for [@chair, @project, @participant, @issue] do | form | %>
  <fieldset>
    <%= render :partial => "form", :locals => { :form => form } %>
    <%= form.button :submit, I18n.t("save") %>
    <%= link_to I18n.t("cancel"), chair_project_issues_path(@chair, @project) %>
  </fieldset>
<% end %>

