<% title "Добавление задачи для участника #{h(@participant.name)}", :issues %>

<% content_for :hint do %>
  <p>Чтобы добавить задачу укажите название, содержание работ, плановую дату выполнения и нажмите "Добавить".</p>
  <p>Если нет необходимости создавать задачу перейдите по ссылке "Отмена"</p>
<% end %>

<%= simple_form_for [@chair, @project, @participant, @issue] do | form | %>
  <fieldset>
    <%= render :partial => "form", :locals => { :form => form } %>
    <%= form.submit I18n.t("create") %>
    <%= link_to I18n.t("cancel"), chair_project_issues_path(@chair, @project) %>
  </fieldset>
<% end %>

