<% content_for :title, "Список проблемных студентов" %>

<% content_for :hint do %>
  <p>В списке проблемных студентов отображаются участники ГПО, которые числятся в АИС "Проекты ГПО", но по сведениям АИС "Контингент" они не участвуют в ГПО либо вообще в данный момент отчислены.</p>
<% end %>

<% if @participants.empty? %>
  Нет проблемных студентов
<% else %>
  <% @user_chairs.each do |chair| %>
    <% unless chair.participants.problematic.empty? %>
      <h2>Кафедра <%= chair.abbr %> <span>на следующих студентов следует обратить внимание</span></h2>
      <ul>
        <% chair.participants.problematic.each do |participant| %>
          <li>
            <h3><%= h participant.text_for_order_report %></h3>
            <%= problem_text(participant) %>
            <span>Проект <%= link_to participant.project.cipher, chair_project_path(participant.project.chair, participant.project) %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

<% end %>
