<div class="manager">
  <%= icon(:user) %>
  <h3><%= chair_manager.name %></h3>
  <div class="manager-projects details">
    Руководитель проектов: <%= manager_projects(chair_manager) %>
  </div>
</div>
