<% title "Изменение информации о кафедры", :chair %>

<% content_for :hint do %>
  <h3>Изменение информации о кафедре</h3>
  <p>Для изменения информации исправьте данные формы и нажмите кнопку "Сохранить"</p>
  <p>Если нет необходимости изменять информацию нажмите "Отмена" для возврата к просмотру кафедры.</p>
<% end %>

<% form_for(@chair) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p>
    <%= form.submit l(:save) %>
    <%= link_to l(:cancel), chairs_path %>
  </p>
<% end %>
