<% title "Факультеты и кафедры", :chair %>

<% @chairs.each do |faculty, chairs| %>
  <h2><%= faculty %></h2>
  <% chairs.each do |chair| %>
    <p><%= link_to "Кафедра #{chair.title} (#{chair.abbr})", chair_projects_path(chair) %></p>
  <% end %>
<% end %>

<% content_for :right do %>
  <div id="stats">
    <h3>Статистика</h3>
    <%= render_table_stats Stat.global %>
  </div>
<% end %>
