<% title "Редактирование направления", :theme %>

<% content_for :hint do %>
  <p>Для изменения направления, введите название и нажмите кнопку "Сохранить"</p>
  <p>Если нет необходимости изменять направление нажмите "Отмена" для возврата к списку направлений.</p>
<% end %>

<% form_for(@theme) do |f| %>
  <fieldset>
    <%= f.error_messages %>
    <%= f.text_field :name %>
    <p>
      <%= f.submit l(:save) %>
      <%= link_to l(:back), themes_path %>
    </p>
  </fieldset>
<% end %>
