<% title "Направления", :theme %>

<% content_for :hint do %>
  <p>Для добавления нового направления воспользуйтесь ссылкой "Новое направление"</p>
  <p>Для изменения направления перейдите по соответсвующей ссылке "Редактировать"</p>
  <p>Для удаления направления перейдите по соответсвующей ссылке "Удалить"</p>
<% end %>


<% action_link(link_to('Новое направление', new_theme_path), "new", "Позволяет создать новую тематику проекта") if permitted_to?(:create, :themes)%>

<%= render_list 'theme_with_actions', @themes, :id => 'themes', :object => :theme %>

