<% title "Добавление направления", :theme %>

<% content_for :hint do %>
  <p>Для добавления направления, введите название и нажмите кнопку "Создать"</p>
  <p>Если нет необходимости создавать новое направление нажмите "Отмена" для возврата к списку существующих направлений.</p>
<% end %>

<% form_for(@theme) do |f| %>
  <fieldset>
    <%# FIXME remove error_messages %>
    <%= f.error_messages %>
    <%= f.text_field :name %>
    <p>
      <%= f.submit I18n.t("create") %>
      <%= link_to I18n.t("cancel"), themes_path %>
    </p>
  </fieldset>
<% end %>
