<% title "Проекты по выбранным направлениям", :theme %>

<% content_for :hint do %>
  <p>Даже не знаю какая тут нужна подсказка</p>
<% end %>

<% @themes.each do |theme| -%>
  <h3><%= h theme.name %></h3>
  <%= render_list 'projects/project_with_stats', theme.projects.active, :id => 'projects' %>
<% end -%>

