<% title "Направления", :theme %>

<% content_for :hint do %>
  <p>Для отображения проектов выберите интересующие направления и нажмите кнопку "Показать проекты"</p>
<% end %>


<% form_for :themes, :url => projects_themes_path, :method => :get do |f| %>
  <%= render_list 'theme', @themes, :id => 'themes' %>
  <%= f.submit "Показать проекты" %>
<% end -%>

