<% title new_user_title(@chair), :user %>

<% content_for :hint do %>
  <p>Для добавления пользователя заполните поля формы и нажмите кнопку "Создать"</p>
  <p>Обязательными для заполнения полями являются: Фамилия, Имя, Отчество.</p>
  <p>Если Вы хотите чтобы пользователь имел доступ к системе введите следующие обязательные сведения:
    <ul>
      <li>логин не менее 3 символов (желательно не использовать русские буквы)</li>
      <li>пароль и повтор пароля не менее 6 символов (желательно чтобы пароль был достаточно сложным)</li>
      <li>E-mail пользователя</li>
    </ul>
  </p>
  <% if @chair.nil? %>
    <p>Если пользователь относится к какой-либо кафедру, выберите нужную из списка "Кафедра".</p>
  <% end %>
  <p>Если нет необходимости создавать пользователя нажмите "Отмена" для возврата к списку пользователей.</p>
<% end %>

<% form_for(@chair.nil? ? @user : [@chair, @user]) do |form| %>
  <fieldset>
    <%= render :partial => "form", :locals => {:form => form, :show_chair => @chair.nil?} %>
    <p>
      <%= form.submit I18n.t("create") %>
      <%= link_to_back_to_users(@chair) %>
    </p>
  </fieldset>
<% end %>
