<div class="gpoday object">
  <div class="name">
    <div class="label">
      <%= I18n.l(gpoday.date) %>
    </div>
    <%= content_tag :div, "Контрольная точка", :class => "kt" if gpoday.kt? %>
  </div>
</div>
<div class="actions">
  <%= link_to t('edit'), edit_gpoday_path(gpoday) %>
  <%= link_to(t(:delete), gpoday_url(gpoday), :method=> :delete, :confirm => l(:are_you_sure)) %>
</div>

