<div class="gpoday object">
  <div class="name">
    <div class="label">
      <%= date(gpoday.date) %>
    </div>
    <%= content_tag :div, "Контрольная точка", :class => "kt" if gpoday.kt? %>
  </div>
</div>
<div class="actions">
  <%= link_to(I18n.t("edit"), edit_gpoday_path(gpoday)) %>
  <%= link_to(I18n.t("delete"), gpoday_path(gpoday), :method=> :delete, :confirm => I18n.t("are_you_sure")) %>
</div>

