<% title "Добавление руководителя проекта", :user %>

<% content_for :hint do %>
  <h3>Добавление руководителя проекта</h3>
  <p>Выберите руководителя проекта из выпадающего списка и нажмите кнопку "Добавить". Статус руководителя будет "ожидает утверждения".</p>
  <p>Руководитель проекта имеет право изменять информацию о проекте, управлять календарным планом проекта, добавлять и исключать участников.</p>
  <p>Если нет необходимости добавлять руководителя проекта нажмите "Отмена" для перехода к списку руководителей.</p>
<% end %>

<% form_for([@project.chair, @project, @manager]) do |form| %>
  <fieldset>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <p>
      <%= form.submit l(:add) %>
      <%= link_to l(:cancel), chair_project_managers_url(@project.chair, @project) %>
    </p>
  </fieldset>
<% end %>

