<% if Time.zone.now < Time.zone.parse('2014-11-21') %>
  <div class="attention advertisement">
    <h2>Внимание</h2>
    <ul class="dates">
      <li>
        С 10 по 20 ноября 2014 г. всем студентам – участникам проектных групп открыт доступ для размещения материалов и обсуждения докладов других участников осенней Интернет - конференции ГПО «Инновации - разработки и технологии - ТУСУР 2014»
      </li>
    </ul>
  </div>
<% end %>
