<% if Time.zone.now < Time.zone.parse('2015-11-24') %>
  <div class="attention advertisement">
    <h2>Внимание</h2>
    <p>
      Размещение материалов на сайте Интернет-конференции участников ГПО ТУСУР 2015 <b>  с 9 по 23 ноября 2015 г.  </b>
    </p>
  </div>
<% end %>
