<% if Time.zone.now < Time.zone.parse('2014-09-30') %>
  <div class="attention advertisement">
    <h2>Внимание</h2>
    <ul class="dates">
      <li>
        В соответствии с регламентом ГПО, приказы о включении в проектные группы магистрантов первого года обучения формируются до <span>20 сентября 2014</span>
      </li>
      <li>
        Подача заявок на конкурс на получение материальной поддержки для реализации проектов ГПО заканчивается <span>15 сентября 2014</span>
      </li>
    </ul>
  </div>
<% end %>
