<% if Time.zone.now < Time.zone.parse('2015-05-08') %>
  <div class="attention advertisement">
    <h2>Внимание</h2>
    <ul class="dates">
      <li>
        До начала экзаменационной сессии необходимо организовать и провести процедуру аттестации участников ГПО - студентов 4 курса бакалавриата.
      </li>
      <li>
        До 30.04.2015 г. (ФСУ до 12.05.2015 г.) представить в ЦИОТ (222 гл.к. и на e-mail: pgv@main.tusur.ru.) журналы аттестации в печатном и электронном виде
      </li>
      <li>
        До 30.04.2015 г. (ФСУ до 12.05.2015 г.) передать в ЦИОТ (222 гл.к.) проекты приказов об исключении из проектов ГПО студентов 4 курса бакалавриата.
      </li>
    </ul>
  </div>
<% end %>
