<% if @user_chairs.length > 1 %>
  <div id="go-to-chair">
    <% form_tag chairs_path, :method => :get do %>
      <%= label_tag 'go_to_chair', "Кафедра" %>
      <%= select_tag 'go_to_chair', "<option></option>" + options_for_select(@user_chairs.collect{|chair| [chair.abbr, chair.id]}, @chair.nil? ? nil : @chair.id) %>
      <%= submit_tag "&raquo;" %>
    <% end %>
  </div>
<% end %>

