<%= render :partial => 'shared/navigation', locals: { show_certificates: false } %>

<%= render :partial => 'shared/go_to_chair' %>

<div id="userbox">
  <%= render :partial => 'shared/user_box' %>
</div>
