<div class="right-part-links">
  <ul>
    <li>
      <a href="https://regulations.tusur.ru/documents/868" target="_blank">
        Положение об организации ГПО
      </a>
    </li>
    <li>
      <a href="https://regulations.tusur.ru/documents/1055" target="_blank">
        Положение о ГПО школьников
      </a>
    </li>
    <li>
      <a href="https://tusur.ru/ru/studentam/gruppovoe-proektnoe-obuchenie" target="_blank">
        Подробнее про ГПО
      </a>
    </li>
    <li>
      <a href="https://tusur.ru/ru/nauka-i-innovatsii/nauchnye-meropriyatiya-tusura/internet-konferentsiya-gpo" target="_blank">
        Научно-практическая конференция
        «Наука и практика: проектная деятельность – от идеи до внедрения»
      </a>
    </li>
  </ul>
</div>
