<div class="right-part-title">Ответсвенный за ГПО</div>
  <div class="contacts-right-part">
    <div class="img_box">
      <%= image_tag 'contact_image.jpg' %>
    </div>
    <div class="fio">
      Носова Анастасия Леонидовна
    </div>
    <div class="gray_text">
      Специалист по УМР ОЛАК
    </div>
    <div class="contacts">
      <p>
        <i class="fas fa-phone"></i>(3822)&nbsp;90-01-13
      </p>

      <p>
        <i class="fas fa-envelope"></i><a href="mailto:anastasiia.nosova@tusur.ru">anastasiia.nosova@tusur.ru</a>
      </p>
    </div>
  </div>
