<% content_for :title, "Доступ запрещён" %>

<h2>Видимо, что-то случилось</h2>

<p>Вы попытались выполнить действие, на которое у вас не хватает прав. В этом нет ничего страшного, только если вы не хакер ;)</p>
<p>Для того, чтобы начать всё сначала, используйте кнопку "назад" вашего браузера или перейдите по ссылке на главную</p>
