<div class="manager">
  <%= icon(:user) %>
  <h3><%= manager.user.name %></h3>
  <div class="manager-projects details">
    Руководитель проектов: <%= manager_projects(manager.user) %>
  </div>
</div>
