<%= render :partial => 'manager', :object => object %>

<div class="actions">
  <% object.state_events.each do |event| %>
    <%= link_to Manager.human_state_event_name(event),
      manage_chair_project_manager_path(@chair, @project, object, 'manager[state_event]' => event),
      method: :put,
      class: 'button' %>
  <% end %>
</div>
