<% content_for :action_nav do %>
  <li class="action report">
    <%= link_to(report[:title], manage_report_path(report[:id], :format => report[:type], type => id))%>

    <% if report[:id] == :project_tz %>
      <%= link_to manage_report_path(report[:id], :format => 'pdf', type => id), target: :_blank do %>
        <i class="fas fa-external-link-alt"></i>
      <% end %>
    <% end %>
    <span><%= report[:description] %></span>
  </li>
<% end %>
