<% title 'Достижения участников', :report %>
<div class="student_achievement_form">
  <%= simple_form_for @student_achievement, url: manage_student_achievements_path do |f| %>
    <%= render :partial => "form", :locals => { :f => f } %>
  <% end %>
</div>
