<% title "Редактирование проекта #{@project.cipher}", :project %>

<% content_for :hint do %>
  <h3>Редактирование информации о проекте</h3>
  <p>Для изменения инфорамции о проекте исправьте значения в полях формы и нажмите "Сохранить".</p>
  <p>Название проект может быть измено до тех пор пока проект не утвержден приказом о формировании проектов.</p>
  <p>Если нет необходимости изменять информацию о проекте нажмите "Отмена" для возврата к просмотру проекта.</p>
<% end %>

<% form_for([@chair, @project]) do |form| %>
  <fieldset>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <p>
      <%= form.submit l(:save) %>
      <%= link_to l(:cancel), chair_project_url(@project.chair, @project) %>
    </p>
  </fieldset>
<% end %>
