<% title "Проекты кафедры #{@chair.abbr}", :project %>

<%= render_list "project_with_stats", @projects, :id => "projects" %>

<% content_for :right do %>
  <div id="stats">
    <h3>Статистика</h3>
    <%= render_table_stats @chair.stats %>
  </div>
<% end %>

