<div class="project_manager">
  <%= icon(:user) %>
  <h3><%= project_manager.name %></h3>
  <div class="project_manager-projects details">
    Руководитель проектов: <%= project_manager_projects(project_manager) %>
  </div>
</div>
