<%= render :partial => 'project_manager', :object => object %>

<div class="actions">
  <% object.state_events.each do |event| %>
    <%= simple_form_for [:manage, @chair, @project, object] do |form|%>
      <%= form.input :state_event, :as => :hidden, :input_html => { :value => event } %>
      <%= form.button :submit, ProjectManager.human_state_event_name(event) %>
    <% end %>
  <% end %>
</div>
