app:
  secret:               secret

devise:
  secret:               secret

solr:
  url:                  http://localhost:8982/solr

errors:
  key:                  api_key
  host:                 host

storage:
  url:                  http://storage.host

converter:
  url:                  http://docon.openteam.ru

session_store:
  url:                  redis://host:6379/0/sessions

sso:
  key:                  KEY
  secret:               SECRET
  url:                  http://sso.url
