app:
  secret:               secret

solr:
  url:                  http://localhost:8982/solr

errors:
  key:                  api_key
  host:                 host

storage:
  url:                  http://storage.host

converter:
  url:                  http://docon.openteam.ru
