<% title "Забыли ваш пароль?", :user %>

<% form_for(@password) do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <p>Всё в порядке! Мы тоже забываем наши пароли. Укажите e-mail адрес, который вы использовали при регистрации и мы вышлем вам ссылку для сброса пароля</p>

    <%= f.text_field :email %>
    <%= f.submit "Напомнить пароль" %>

  </fieldset>
<% end %>

