<% title 'Редактирование дня ГПО', :reporting_stage %>

<% content_for :hint do %>
  <p>Для изменения даты дня ГПО, выберите дату и нажмите кнопку "Сохранить"</p>
  <p>Если нет необходимости менять дату, нажмите "Отмена" для возврата к расписанию.</p>
<% end %>

<%= simple_form_for resource, url: resource_url do | form | %>
  <fieldset>
    <%= render partial: 'form', locals: { form: form } %>
    <%= form.button :submit, I18n.t('save') %>
    <%= link_to I18n.t('cancel'), collection_url %>
  </fieldset>
<% end %>

