<% title "Редактирование этапа", :stage %>

<% content_for :hint do %>
  <h3>Редактирование этапа</h3>
  <p>Для изменение информации исправьте значения полей формы и нажмите кнопку "Сохранить".</p>
  <p>Обязательными для заполнения полями являются название, дата начала и дата окончания.</p>
  <p>Если нет необходимости изменять информацию об этапе нажмите "Отмена" для перехода к просмотру этапа.</p>
<% end %>

<%= simple_form_for [@project.chair, @project, @stage] do | form | %>
  <fieldset>
    <%= render :partial => "form", :locals => { :form => form } %>
    <%= form.submit I18n.t("save") %>
    <%= link_to I18n.t("back"), chair_project_stage_path(@project.chair, @project, @stage) %>
  </fieldset>
<% end %>
