<% title "Добавление дня ГПО", :gpoday %>

<% content_for :hint do %>
  <p>Для добавления дня ГПО, выберите дату и нажмите кнопку "Создать"</p>
  <p>Если нет необходимости создавать новый день ГПО нажмите "Отмена" для возврата к расписанию.</p>
<% end %>

<%= simple_form_for resource, url: collection_url do | form | %>
  <fieldset>
    <%= render :partial => "form", :locals => { :form => form } %>
    <%= form.button :submit, I18n.t("create") %>
    <%= link_to I18n.t("cancel"), :back %>
  </fieldset>
<% end %>

