$direction-list: top right bottom left

@for $i from 0 through 60
  @each $direction in $direction-list
    .margin-#{$direction}-#{$i}
      margin-#{$direction}: unquote("#{$i}px") !important

    .padding-#{$direction}-#{$i}
      padding-#{$direction}: unquote("#{$i}px") !important

.text-muted
  color: #6c757d

.font-weight-bold
  font-weight: bold
  
ul
  padding-left: 0

  li
    list-style-type: none

.ul-rhombus
  margin-bottom: 25px

  > li
    position: relative
    padding-left: 20px
    margin: 5px 0 5px 10px

    &:before
      position: absolute
      display: block
      left: 0
      top: 0
      content: '\25A0'
      transform: rotate(45deg)
      color: #025DAE

  ol li
    padding-left: 0
