.faculties_list
  .faculty-item
    &.gf
      .chair_list
        background-color: $gf_bg

      hr
        border-color: $gf_light

      ul >li
        &:before
          color:  $gf_color

    &.rkf
      .chair_list
        background-color: $rkf_bg

      hr
        border-color: $rkf_light

      ul >li
        &:before
          color:  $rkf_color

    &.rtf
      .chair_list
        background-color: $rtf_bg

      hr
        border-color: $rtf_light

      ul >li
        &:before
          color:  $rtf_color

    &.fb
      .chair_list
        background-color: $fb_bg

      hr
        border-color: $fb_light

      ul >li
        &:before
          color:  $fb_color

    &.fvs
      .chair_list
        background-color: $fvs_bg

      hr
        border-color: $fvs_light

      ul >li
        &:before
          color:  $fvs_color

    &.fit
      .chair_list
        background-color: $fit_bg

      hr
        border-color: $fit_light

      ul >li
        &:before
          color:  $fit_color

    &.fsu
      .chair_list
        background-color: $fsu_bg

      hr
        border-color: $fsu_light

      ul >li
        &:before
          color:  $fsu_color

    &.fjet
      .chair_list
        background-color: $fjet_bg

      hr
        border-color: $fjet_light

      ul >li
        &:before
          color:  $fjet_color

    &.jef
      .chair_list
        background-color: $jef_bg

      hr
        border-color: $jef_light

      ul >li
        &:before
          color:  $jef_color

    &.juf
      .chair_list
        background-color: $juf_bg

      hr
        border-color: $juf_light

      ul >li
        &:before
          color:  $juf_color

.faculties_list
  .faculty-item
    margin-bottom: 30px

  .faculty-image
    position: absolute

  .chair_list
    padding: 20px 20px 20px 60px
    margin-left: 40px

    .active_projects, .participant_total
      position: relative
      top: 2px

    .mentors
      font-size: 16px

    h3
      margin-top: 0
      font-size: 18px

  h2
    padding-left: 100px

  hr
    &:last-child
      display: none

  .chair-project-list
    margin-top: 15px

    .chair-project-item
      margin-bottom: 5px
