<div class="user object">
  <%= icon(:user) %>
  <h3><%= user.name %></h3>
  <div class="status">
    <span><%= mail_to(user.email) %></span>
  </div>
  <div class="details"><%= user_post(user) %></div>
</div>
