<% title "Редактирование #{@user.name}", :user %>

<% content_for :hint do %>
  <p>Для изменения информации о пользователе исправьте значение полей формы и нажмите кнопку "Сохранить"</p>
  <p>Обязательными для заполнения полями являются: Фамилия, Имя, Отчество.</p>
  <p>Если Вы хотите чтобы пользователь имел доступ к системе введите E-mail пользователя</p>
  <% if @chair.nil? %>
    <p>Если пользователь относится к какой-либо кафедру, выберите нужную из списка "Кафедра".</p>
  <% end %>
<% end %>

<%= simple_form_for resource, url: resource_url do | form | %>
  <fieldset>
    <%= render :partial => "form", :locals => { :form => form, :show_chair => @chair.nil? } %>
    <%= form.button :submit, I18n.t("save") %>
    <%= link_to(I18n.t("cancel"), collection_url) %>
  </fieldset>
<% end %>
