<% title "Редактирование правила", :rule %>

<% content_for :hint do %>
  <p>При изменении правила нужно помнить, что у пользователя появятся или исчезнут соответствующие полномочия.</p>
  <p>Для изменения правила измените значение полей формы и нажмите кнопку "Сохранить"</p>
  <p>Если нужно чтобы пользователь стал ответственным зп ГПО на кафедре, обязательно выберите кафедру из списка "Кафедра"</p>
  <p>Если нет необходимости изменять правило нажмите "Отмена" для возврата к списку правил.</p>
<% end %>

<% form_for(@rule) do |form| %>
  <fieldset>
    <%= render :partial => 'form', :locals => {:form => form} %>
    <p>
      <%= form.submit l(:save) %>
      <%= link_to l(:cancel), rules_path %>
    </p>
  </fieldset>
<% end %>

