<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        Федеральное государственное бюджетное образовательное учреждение высшего образования
        «Томский государственный университет систем управления и радиоэлектроники»
      </div>
    </div>
  </div>
</div>
