<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="footer-contacts">
          <p>По вопросам сотрудничества в рамках проектной деятельности ТУСУРа,
            корректировки информации на странице сайта, решения организационных вопросов:</p>
          <p>Руководитель ГПО в ТУСУРе: </p>
          <p><a href="https://directory.tusur.ru/people/5439" target="_blank">Носова Анастасия Леонидовна</a>, специалист по УМР ОЛАК</p>
          <p> <i class="fas fa-phone"></i><a href="mailto:anastasiia.nosova@tusur.ru">anastasiia.nosova@tusur.ru</a></p>
          <p><i class="fas fa-envelope"></i>8 (3822) 90-01-13</p>
        </div>
        <p>Для корректировки информации на данной странице:  <a href="mailto:anastasiia.nosova@tusur.ru">anastasiia.nosova@tusur.ru</a></p>
      </div>
    </div>
  </div>
</div>
