<% title "Правила", :rule %>

<% content_for :action_nav do %>
  <%= action_link(link_to(I18n.t("rule.new"), new_manage_rule_path), "new", "Позволяет создать правило для пользователя") %>
<% end %>

<% content_for :hint do %>
    <p>На странице отображаются правила всех пользователей в системе.</p>
    <dl>
      <dt>"Редактировать"</dt>
      <dd>Позволяет изменить правило. При этом нужно помнить, что у пользователя появятся или исчезнут соответствующие полномочия.</dd>
      <dt>"Удалить"</dt>
      <dd>Позволяет удалить правило. При этом нужно помнить, что у пользователя исчезнут соответствующие полномочия.</dd>
    </dl>
<% end %>

<%= render_list "rule", @rules, :id => "rules" %>
