<% title "Отчеты ГПО по университету", :report%>

<% content_for :hint do %>
  <p>На странице отображается список возможных отчетов по университету.</p>
  <p>Для генерации отчета выберите ссылку .doc или .odt чтобы получить отчет в нужном формате.</p>
<% end %>

<%= render_list 'report', Report::REPORTS[:university], :id => 'reports' %>

