<ul id="header-navigation">
  <%= nav_link link_to("Главная", root_path), 'sessions', :action => 'dashboard' %>
  <li><%= link_to "Интернет-конференция участников ГПО ТУСУР", "http://gpo-conference.tusur.ru", :target => "_blank" %></li>
</ul>
